.childrenContainer--background-color {
    background-color: #aad500;
    width: 66px;
    height: 103px;
    display: flex;
    align-items: flex-end;
    margin-left: 24px;
    transform: translateY(-19px)
}


.link--header_1--1,
.link--header_1--2,
.link--header_1--3,
.link--header_1--4,
.link--header_1--5,
.link--header_1--6,
.link--header_1--7,
.link--header_1--8 {
    color: #DADADA;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.link--header_1--1,
.link--header_1--2,
.link--header_1--4,
.link--header_1--5,
.link--header_1--6,
.link--header_1--7{
    margin-right: 25px;
}

.link--header_1--1{
    margin-left: 160px
}

.link--header_1--8{
    margin-right: 35px;
}

.link--header_3--1,
.link--header_3--2,
.link--header_3--3,
.link--header_3--4,
.link--header_3--5,
.link--header_3--6,
.link--header_3--7,
.link--header_3--8 {
    color: #767676;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}


.link--header_3--2,
.link--header_3--4,
.link--header_3--5,
.link--header_3--6{
    margin-right: 35px;
}

.link--header_3--2{
    margin-left: 35px;
}

.link--header_3--1{
    margin-left: 500px
}

.link--header_3--7{
    margin-right: 0px;
}